<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>

    <link rel="stylesheet" href="/static/css/adminlogin.css">
</head>
<body>

<div class="admin-login-container">

    <div class="admin-login-box">

        <h1>Painel Administrativo</h1>

        <form id="adminLoginForm">

            <input 
                type="email"
                id="email"
                placeholder="Email"
                required
            >

            <input 
                type="password"
                id="password"
                placeholder="Senha"
                required
            >

            <button type="submit">
                Entrar
            </button>

        </form>

        <p id="msg"></p>

    </div>

</div>

<div id="toast" class="toast"></div>
<script src="/static/js/adminlogin.js"></script>

</body>
</html>